.bodyhome{
    margin-bottom: 1rem;
}

.Icon {
    min-width: 46px;
    min-height: 46px;
    margin: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    box-shadow: 
      -2px -2px 6px rgba(#fff, .6),
      2px 2px 12px #c8d8e7;
    border: none;
}

.row-md{
    border-bottom: 2px solid var(--verdeOscuro);
    border-top: 2px solid var(--verdeOscuro);
    color: var(--verdeClaro);
}

.search-input{
    background-color: #e3edf7;
    padding: 16px 32px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border: none;
    display: block;
    font-family: 'Orbitron', sans-serif;
    font-weight: 600;
    color: #a9b8c9;
    -webkit-appearance: none;
    transition: all 240ms ease-out;
    width: 75%;
}

.container-button{
    margin: 20px 0px 20px 0px;
    display: flex;
    justify-content: space-around;
}

.btn-outline-secondary:hover{
    background-color: var(--verdeOscuro);
    border: none;
}

.aa{
    display: flex;
    justify-content: center;
}
@media (min-width: 768px){
    .row-md{
        display: flex;
        flex-wrap: wrap;
    }
}
